name: Deploy to main
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to VM
        env:
          VM_HOST: ${{ secrets.VM_HOST }}
          VM_USERNAME: ${{ secrets.VM_USERNAME }}
          VM_SSH_KEY: ${{ secrets.VM_SSH_KEY }}
        run: |
          echo "$VM_SSH_KEY" > vm_key.pem
          chmod 600 vm_key.pem

          ssh -v -o StrictHostKeyChecking=no -i vm_key.pem $VM_USERNAME@$VM_HOST "mkdir -p /home/$VM_USERNAME/app"
          
          ssh -v -o StrictHostKeyChecking=no -i vm_key.pem $VM_USERNAME@$VM_HOST "pkill -f 'python3 madlibs.py' || true"

          scp -o StrictHostKeyChecking=no -i vm_key.pem -r ./* $VM_USERNAME@$VM_HOST:/home/$VM_USERNAME/app/

          ssh -o StrictHostKeyChecking=no -i vm_key.pem $VM_USERNAME@$VM_HOST "
            cd /home/$VM_USERNAME/app &&
            python3 -m pip install flask &&
            nohup python3 madlibs.py >> app.log 2>&1 &
          "